@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'components/fonts';
@import 'components/grid';

* {
  @include appearance(none);
  @include backface-visibility(visible);
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: #333;
}

html, body {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

#app, #app > div {
  // height: 100%;
  // width: 100%;
  position: relative;
  // @include breakpoint(tab) {
  //   position: fixed;
  // }
}

#app > div {
  display: flex;
  flex-wrap: wrap;
  // overflow: hidden;
  position: relative;
}

$navHeight: rem(60);
$heroHeight: 50vh;

.nav {
  background: black;
  height: $navHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.search {
  background: crimson;
  position: fixed;
  z-index: 10;
  height: rem(40);
  width: rem(312);
  right: rem(20);
  top: $navHeight + rem(20);
  cursor: text;
  input {
    @include size(100%);
    background: black;
    padding: rem(10);
    font-size: rem(20);
    line-height: rem(40);
    color: white;
    @include placeholder {
      color: #aaa;
      font-style: italic;
    }
  }
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  background: pink;
  height: $heroHeight;
  width: 100%;
}

.content {
  position: relative;
  top: $heroHeight;
  width: 100%;
  background: white;
  border-top: rem(10) solid crimson;
}
